@import '../varibales.scss';
header {
          width: 100%;
          height: 87px;
          display: flex;
          justify-content: space-between;
          align-items: center;
          .navbar-left-side {
                    display: flex;
                    align-items: center;
                    .site-brand {
                              color: $secondaryColor;
                              font-size: 30px;
                              img {
                                        width: 40px;
                                        height: 40px;
                                        border-radius: 50%;
                              }
                    }
                    .searchbar {
                              margin-left: 20px;
                              margin-top: 5px;
                              height: 40px;
                              min-width: 400px;
                              box-shadow: 0 5px 20px -5px rgb(0 0 0 / 7%);
                              display: flex;
                              align-items: center;
                              position: relative;
                    }
                    .searchbar .icon {
                              color: #ddd;
                              position: absolute;
                              left: 12px;
                              bottom: 9px;
                    }
                    .searchbar .search-form {
                              border: 1px solid transparent;
                              background: none;
                              outline: none;
                              padding: 10px;
                              padding-left: 2.5rem;
                              width: 100%;
                              height: 100%;
                              background: #fff;
                              border-radius: 5px;
                              transition: border 0.3s ease-in-out;
                              font-size: 1rem;
                              line-height: 1.5;
                              color: #212529;
                              &:focus {
                                        border: 1px solid $secondaryColor;
                              }
                    }
          }
          .navbar-right-side {
                    display: flex;
                    align-items: center;
                    .link {
                              font-size: 18px;
                              padding: .5rem 1rem;
                              color: $secondaryColor;
                              transition: color .15s ease-in-out;
                              &:hover {
                                        color: #212529;
                              }
                    }
                    .connection {
                              a.to-login {
                                        font-size: 18px;
                                        padding: 0.3rem 1rem 0.5rem 1rem;
                                        background: $secondaryColor;
                                        border-radius: 5px;
                                        box-shadow: 0 2px 3px 0 #ccc;
                                        transition: background 0.3s ease-in-out;
                                        color: #fff;
                                        &:hover, &:focus {
                                                  background: #0050c5;
                                        }
                              }
                    }
          }
}
@media screen and (max-width: 800px) {
          header .navbar-left-side .searchbar {
                    min-width: 300px;
          }
}
@media screen and (max-width: 700px) {
          header .navbar-left-side .searchbar {
                    display: none;
          }
}