@import '../varibales.scss';
.banner__container {
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin: 50px 0;
          .banner__image {
                    width: 60%;
          }
          img {
                    width: 100%;
                    border-radius: 10px;
          }
          .banner__text {
                    flex: 1;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    h1 {
                              font-weight: 700;
                              color: $primaryTextColor;
                    }
                    p {
                              font-size: 20px;
                              color: #333;
                    }
                    .actions {
                              a {
                                        width: 130px;
                                        margin: 0 5px;
                                        font-size: 18px;
                                        border-radius: 5px;
                                        border: none;
                              }
                              a span {
                                        margin-left: 5px;
                              }
                    }
          }
}
@media screen and (max-width: 800px) {
          .banner__container {
                    flex-direction: column-reverse;
          }
          .banner__container .banner__image {
                    width: 100%;
                    margin-top: 50px;
          }
}